body{
    background-image: url("/public/images/blog/blogBackground.png");
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
#cover {
    display: flex;
    height: 45vh;
    max-width: 1200px;
    min-height: 45vh;
    align-items: center;
    background: #fff;
    box-shadow: 0 9px 16px -6px #0005;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#cover .cover-image, #cover .cover-text{
    width:50%;
    box-sizing:border-box
}
#cover .cover-image{
    object-fit:cover;
    height:100%;
    min-height:40vh
}
#cover .cover-text{
    text-align:center;
    padding:1em
}
#cover h2{
    font-family: 'Playfair Display', serif;
    font-size:3em;
    font-weight:400;
    line-height:1em;
    margin: 10px;
}
#cover h4{
    font-weight:400
}
#cover.top {
    flex-direction:column;
}
#cover.top .cover-text, #cover.top .cover-image{
    width:100%
}
#cover.top .cover-image{
    height:50vh
}
#cover.top h2{
    font-size:2em
}

#cover.over:after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:#0004;
    position:absolute;
    z-index:1;
    top:0;
    left:0;
}
#cover.over .cover-text, #cover.over .cover-image{
    width:100%
}
#cover.over .cover-text{
    color:#fff;
    align-self:flex-end;
    position:relative;
    z-index:2
}
#cover.over .cover-image{
    position:absolute;
    z-index:0
}

@media (max-width:500px){

    #cover:not(.over) {
        flex-direction:column;
        height:fit-content
    }
    #cover h2{
        font-size:2em
    }
    #cover .cover-text, #cover .cover-image{
        width:100%
    }
}
article {
    width: 80vw;
    background-color: white;
    padding: 10px;
    min-width: 350px;
    max-width: 900px;
    margin: 30px auto;
    box-shadow: 0 19px 16px -16px #0005;
}

#by{
    display:flex;
    align-items:center;
    margin-bottom:15px
}
#by img{
    width:40px;
    border-radius:50%;
}
#by a{
    display:inline-block;
    padding-left:10px;
}
#by p{
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    color:#999;
    font-size: 24px
}
article p{
    line-height:1.5em;
    text-align:justify
}

article footer{
    display:block;
    border-top:1px solid #bbb;
    margin:15px 15px;
    padding:18px 5px;
    color:#666;
}

article footer button {
    background-color: #feffff;
    border: 2px solid #01d8ff;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    line-height: 0.5;
    padding: 0.6em 1.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    transition: background 300ms ease-in-out;
    float: left;
}
article footer button:hover, article footer button:focus {
    color: #fff;
    outline: 0;
    background-position: 0;
    background-color: #01d8ff;
}
.right{
    float: right;
    font-size: 16px;
}
img{
    max-width: 100%;
    height: auto;
}
.circle {
    background-color: #607d8b;
    border: none;
    position: fixed;
    color: #FFF;
    width: 64px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    right: 30px;
    top: auto;
    bottom: 60px;
    cursor: pointer;
    z-index: 2;
    font-size: 55px;
}
.circle:hover {
    box-shadow: 0px 10px 8px 0px rgba(29,209,239,0.4);
    background-color: #00bcd4;
}