.pagination a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 3px 5px 3px 5px;
}

.pagination a.selected {
    background-color: cyan;
}

.pagination a.control {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination a.control.lock {
  background-color: #8a8a8a;
  cursor: pointer;
}

.pagination a:hover:not(.selected):not(.lock) {
    background-color: red;
}